<!doctype html>
<html lang="en">
<head>
  <% include partials/head %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style-index.css">
</head>

<body class="container-fluid">
  <header>
    <% include partials/header %>
  </header>

  <main>
      <h1>found</h1>
      <h2> a modern treasure hunt for the urban explorer</h2>
      <p> Engage with your environment and search for the magic in the mundane. When you pay attention, tiny curiousities are all around. Sign up and keep track of the treasures you find! </p>
  </main>

  <footer>
    <% include partials/footer %>
  </footer>

 </body>
</html>
