<!doctype html>
<html lang="en">
<head>
  <% include partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>FOUND</h1>
      <h2> a modern treasure hunt for the urban explorer</h2>
      <p> FOUND is a web app based on the psychogeography philosophies of Guy Debord and the Situationists. It's an exercise in enaging with your environment and searching for the magic in the mundane. When you pay attention, tiny curiousities are all around. Keep track of your treasures here! </p>
  </main>

  <footer>
    <% include partials/footer %>
  </footer>

 </body>
</html>
