main {
  margin: 50px 200px 50px 200px;
  width: 900px;

}

body {
  background-color: #d7ccc8;
  color: #424242;
}
  a {
  margin: 10px;
}

  }

h1 {
  font-family: 'Nothing You Could Do', cursive;

}

h2 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 40px;
}

p {
  line-height: 20px;
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;

}
