main {
  margin: 50px 200px 50px 200px;
  width: 900px;

}

body {
  background-color: #d7ccc8;
  color: #424242;
}
  a {
  margin: 10px;
}


  h3 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 40px;
    margin-left: -40px;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;;
  font-size: 35px;
}

p {
  line-height: 20px;
  font-size: 22px;
  font-family: 'Source Sans Pro', sans-serif;
}

p.category {
  color: #4e342e;
  margin-left: -40px;
}
