<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <h3>NEW</h3>
    <form class="found-form" action="/found-objects" method="post">
      <% include _form %>
      <a href="/found-objects" class="btn btn-primary">Back</a>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </main>

  <form action="/pictures/upload" method="POST" enctype="multipart/form-data">
    Post a picture!
    <input type="file" name="image">
    <input type="submit" value="Upload Image">
  </form>


  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
