<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <h3>NEW</h3>
    <form class="found-form" action="/found-objects" method="post">
      <% include _form %>
      <a href="/found-objects" class="btn btn-primary">Back</a>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </main>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1pLE3h6R4BxpjBr9SSyHhizAtqKp7zic&libraries=places&callback=initMap"
      async defer></script>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
